.drawer {
    background-color: var(--drawer-background-color);
    position: absolute;
    height: 100vh;
    width: var(--drawer-width);
    transition: 0.2s transform, 0.2s background-color;
    overflow-y: auto;
    box-shadow: var(--box-shadow-drawer-mobilebar);
    padding-left: 10px;
    padding-right: 10px;

}

@media (max-width: 960px) {
    .drawer {
        transform: translateX(-110%);
    }
}