.content {
    margin-left: 400px;
    margin-right: var(--week-day-width);
    margin-top: 0;
    transition: 0.2s margin-top, 0.2s margin-left;
    padding: 10px;
    min-height: 100vh;
}


/*Изменение устройства*/
@media (max-width: 960px) {
    .content {
        margin-left: 0;
        margin-top: 60px;
        width: 100%;
    }
}