.expansion-panel {
    background-color: var(--expansion-panel-background-color);
    width: 100%;
    border-radius: 10px;
    font-size: 14pt;
    font-weight: 600;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}


.expansion-title {
    border-radius: 10px;
    padding: 10px;
    font-size: 16pt;
    transition: 0.2s background-color cubic-bezier(.25, .8, .5, 1), color 0.2s cubic-bezier(.25, .8, .5, 1);
}

.expansion-title:hover {
    background-color: var(--expansion-panel-background-color-hover);
}

.expansion-content {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: 0.2s grid-template-rows cubic-bezier(.25, .8, .5, 1);
}

.expansion-content.open {
    grid-template-rows: 1fr;
}

.expansion-panel-content-wrapper {
    min-height: 0;
}

.expansion-title.open {
    background-color: var(--expansion-panel-background-color-open);
    color: var(--expansion-panel-font-color-open);
}
