.app.dark {
    --background-color: #121212;
    --drawer-background-color: #363636;
    --primary-text-color: white;
    --card-background-color: #1e1e1e;
    --expansion-panel-background-color: #1e1e1e;
    --expansion-panel-background-color-open: #545454;
    --expansion-panel-font-color-open: white;
    --expansion-panel-background-color-hover: #303030;

    --week-day-panel-background-color: #1e1e1e;

    --search-backgrond-color: #1e1e1e;
    --search-icon-color: white;
    --search-placeholder-color: #cbcbcb;
    --search-variants-background-color: #1e1e1e;
    --search-variant-background-color-hover: #303030;
    --search-variant-color-hover: white;
    --search-variant-icon-color-hover: white;

    --not-lesson-background-color: #1e1e1e;
    --not-lesson-text-color: rgba(255, 255, 255, 0.7);

    --scrollbar-background-color: #121212;
    --scrollbar-thumb-backround-color: #757575;
    --scrollbar-track-backround-color: #121212;

    --divider-border-color: 0 solid hsla(0, 0%, 100%, .12);

    --tranparent-button-background-color: rgba(255, 255, 255, 0.1)
}