.app.light {
    --background-color: #edeef0;
    --drawer-background-color: #f5f5f5;
    --primary-text-color: black;
    --card-background-color: white;
    --expansion-panel-background-color: white;
    --expansion-panel-background-color-open: #e0ebfb;
    --expansion-panel-font-color-open: #0c63e4;
    --expansion-panel-background-color-hover: #f6f6f6;

    --week-day-panel-background-color: white;
}