.app.light {
    --background-color: #edeef0;
    --drawer-background-color: #f5f5f5;
    --primary-text-color: black;
    --card-background-color: white;
    --expansion-panel-background-color: white;
    --expansion-panel-background-color-open: #e0ebfb;
    --expansion-panel-font-color-open: #0c63e4;
    --expansion-panel-background-color-hover: #f6f6f6;

    --week-day-panel-background-color: white;

    --search-backgrond-color: #ffffff;
    --search-icon-color: #757575;
    --search-placeholder-color: #cbcbcb;
    --search-variants-background-color: #ffffff;
    --search-variant-background-color-hover: #e0ebfb;
    --search-variant-color-hover: #0c63e4;
    --search-variant-icon-color-hover: #0c63e4;

    --not-lesson-background-color: white;
    --not-lesson-text-color: rgba(0, 0, 0, 0.7);

    --scrollbar-background-color: #f9f9fd;
    --scrollbar-thumb-backround-color: #9a9a9a;
    --scrollbar-track-backround-color: #edeef0;

    --divider-border-color: 0 solid rgba(0, 0, 0, .12);

    --tranparent-button-background-color: rgba(0, 0, 0, 0.05)
}