@import "reset.css";
@import "@/styles/themes/light.css";
@import "@/styles/themes/dark.css";
@import "@/styles/variables/globals.css";
@import 'material-icons/iconfont/material-icons.css';

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    /*font-family: "Golos Text", sans-serif;*/
    /*font-family: "Gotham Pro Light";*/
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--background-color);
    color: var(--primary-text-color);
    font-optical-sizing: auto;


}


.app {
    background: var(--background-color);
    color: var(--primary-text-color);
    min-height: 100vh;
    transition: background-color 0.2s;

}

.header {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 15px;
}


/*Временно*/

.schedule-header {
    /*position: sticky;*/
    /*margin-right: -100px;*/
}

.schedule-name {
    font-size: 16pt;
    font-weight: 100;
}

.lesson-list {
    /*overflow-y: auto;*/
    /*height: 83vh;*/
}

.not-lesson-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.not-lesson {
    background-color: white;
    padding: 10px 20px;
    border-radius: 7px;
    font-weight: 500;
    color: #000000;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
    font-size: 1rem;
}
