.btn {
    color: #ffffff;
    background: #3f51b5;
    border: 1px solid #3f51b5;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 6px;

    display: inline-flex;
    cursor: pointer;
    user-select: none;
    align-items: center;
    vertical-align: bottom;
    text-align: center;
    overflow: hidden;
    justify-content: center;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.2);


}

.btn:hover {
    cursor: pointer;
    background: #2b2c7e;
    color: #ffffff;
    border-color: #2b2c7e;
}

.btn:disabled {
    background: #838383;
    border-color: #838383;
}

.btn.round {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.btn.round {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.btn.round > span {
    font-size: 1.7rem;
}

.btn.round.small {
    width: 45px;
    height: 45px;
}

.btn.transparent {
    background-color: transparent;
    color: var(--primary-text-color);
    box-shadow: none;
    border: none;
}

.btn.transparent:hover {
    background-color: var(--tranparent-button-background-color);
}
