.lesson-content {
    padding: 15px;
}

.lesson-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.descriptions {
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 20px;

}

.description {
    display: flex;
    align-items: center;
    justify-content: start;
}

.description-icon {
    margin-right: 5px;
    color: #717171;

}

.to-schedules {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    flex-wrap: wrap;
}


