.lesson-header {
    display: inline-flex;
    padding: 3px;
    position: relative;
}

.time-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.devider {
    border: var(--divider-border-color);
    border-right-width: thin;
    margin-right: 7px;
    margin-left: 7px;
}

.start-time {
    font-size: 1rem;
    margin-bottom: 7px;
}

.number {
    font-size: 2rem;
    font-weight: 400;
}

.end-time {
    font-size: 1rem;
    margin-top: 7px;
}

.chips {
    display: flex;
    gap: 5px;
    margin-bottom: 7px;
}

.discipline {
    font-size: 1.1rem;
    margin-bottom: 7px;
}

.characteristics {
    font-size: 0.9rem;
    font-weight: 400;
}

.characteristic {
    display: flex;
    align-items: center;
    justify-content: start;
}

.characteristic-icon {
    margin-right: 5px;
    color: #717171;
    transition: color 0.2s;
}

.characteristic-icon.active-icon {
    color: var(--expansion-panel-font-color-open);
}



